@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,400&family=Poiret+One&display=swap');

:root{
  --prime-font: 'Nunito Sans', sans-serif;
  --style-font: 'Poiret One', cursive;
  --accent-color:#80d5ff;
  --bg-color:#000919;
  --box-shadow: 2px 2px #80d5ff;
  --big-box-shadow: 5px 5px 0 #80d5ff;
}
*{
  color:var(--accent-color);
  box-sizing: border-box;
  font-family: var(--prime-font)
}
body{
  background-color: var(--bg-color);
}
.main-head{
  text-align:center;
  font-family:var(--style-font);
  margin:3rem 0;
}
.main-sec{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left:40%;
  width:50vh;
  height:50vh;
}
input{
  height:2rem;
  background-color: var(--bg-color);
  border: 1px solid var(--accent-color);
  box-shadow:var(--box-shadow);
}

input:focus-visible {
  outline:none;
}
button{
  width:3rem;
  border-style: none;
  background-color:var(--bg-color);
  box-shadow: var(--box-shadow);
  height:2rem;
  width:4rem;
  font-size: 1rem;
}
label{
  display:block;
}
#display{
  text-align: center;
  border: 1px solid var(--accent-color);
  padding:1rem;
  border-radius: 5px;
  height:20vh;

}